body {
    margin: 0;
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.player {
    background-color: #2c2c2c;
    color: white;
    width: 280px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.album {
    background-color: #444;
    height: 120px;
    width: 120px;
    margin: 15px auto;
    border-radius: 50%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */
.controls button {
    background-color: #555;
    border: none;
    color: white;
    font-size: 18px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

/* Interactive CSS */
.controls button:hover {
    background-color: #1db954;
}
